box2d-py==2.3.5
dm-control==1.0.3.post1
dm-env==1.5
dm-tree==0.1.7
glfw==2.5.3
gym==0.21.0
gym-notices==0.0.7
matplotlib==3.5.2
matplotlib-inline==0.1.6
mujoco==2.2.0
mujoco-py==2.1.2.14
numpy==1.22.4
pandas==1.4.2
scikit-learn==1.1.1
scipy==1.8.1
sklearn==0.0
stable-baselines3==1.6.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
torch==1.11.0
